# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.cache
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv/
env/
venv/

# Docker
.dockerignore
*.dockerfile
*.dockerignore
**/.dockerignore
**/*.dockerfile

# Makefile
Makefile.local

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.networkoptix
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# VSCode directories
.vscode/
